In [3]:
import pandas as pd

In [6]:
df = pd.read_excel("D:/Je respire/解析/1.2 脳血流と問題カテゴリの関連 - 背外側追加.xlsx", sheet_name="ディアビアイ")

In [12]:
print(df.columns.tolist())
df.head()

['subject', 'question', 'q_category', 'score', 'left_pupil_std', 'right_pupil_std', 'CH1_std', 'CH2_std', 'CH3_std', 'CH4_std', 'CH5_std', 'CH6_std', 'CH7_std', 'CH8_std', 'CH9_std', 'right_haigai', 'CH10_std', 'CH11_std', 'CH12_std', 'CH13_std', 'hainai', 'CH14_std', 'CH15_std', 'CH16_std', 'CH17_std', 'CH18_std', 'left_haigai', 'CH19_std', 'CH20_std', 'CH21_std', 'CH22_std', 'CH1.1_std', 'CH2.1_std', 'CH3.1_std', 'CH4.1_std', 'CH5.1_std', 'CH6.1_std', 'CH7.1_std', 'CH8.1_std', 'CH9.1_std', 'CH10.1_std', 'CH11.1_std', 'CH12.1_std', 'CH13.1_std', 'CH14.1_std', 'CH15.1_std', 'CH16.1_std', 'CH17.1_std', 'CH18.1_std', 'CH19.1_std', 'CH20.1_std', 'CH21.1_std', 'CH22.1_std', 'CH1.2_std', 'CH2.2_std', 'CH3.2_std', 'CH4.2_std', 'CH5.2_std', 'CH6.2_std', 'CH7.2_std', 'CH8.2_std', 'CH9.2_std', 'CH10.2_std', 'CH11.2_std', 'CH12.2_std', 'CH13.2_std', 'CH14.2_std', 'CH15.2_std', 'CH16.2_std', 'CH17.2_std', 'CH18.2_std', 'CH19.2_std', 'CH20.2_std', 'CH21.2_std', 'CH22.2_std', 'Sensor-E:SC/GSR_std', 'Sensor-G:BVP_std', '[G] BVP Amp._std', '[G] Heart Rate_std', '[G] HRV Amp._std', '[G] HRV-LF Power (0,04-0,16 Hz)_std', '[G] HRV-HF Power (0,16-0,4 Hz)_std', '[G] HRV-LF / HRV-HF _std', 'dataset_no', 'sheet_name']

,subject,question,q_category,score,left_pupil_std,right_pupil_std,CH1_std,CH2_std,CH3_std,CH4_std,...,Sensor-E:SC/GSR_std,Sensor-G:BVP_std,[G] BVP Amp._std,[G] Heart Rate_std,[G] HRV Amp._std,"[G] HRV-LF Power (0,04-0,16 Hz)_std","[G] HRV-HF Power (0,16-0,4 Hz)_std",[G] HRV-LF / HRV-HF _std,dataset_no,sheet_name
0,1,15,3,2,0.198059,-0.004101,-0.023247,0.063408,-0.052554,-0.538870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Q1
1,1,1,1,2,0.269850,0.237645,0.074821,0.562988,-0.036988,-0.567791,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Q2
2,1,11,2,1,0.747078,0.743156,-0.042180,0.689511,-0.107446,0.053479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Q3
3,1,4,1,2,-0.047677,-0.082496,0.014693,-0.313235,0.032525,0.923615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Q4
4,1,18,3,0,0.185023,0.105690,-0.005959,-0.735926,0.043048,0.346212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Q5

In [18]:
df.describe()

,subject,question,q_category,score,left_pupil_std,right_pupil_std,CH1_std,CH2_std,CH3_std,CH4_std,...,CH22.2_std,Sensor-E:SC/GSR_std,Sensor-G:BVP_std,[G] BVP Amp._std,[G] Heart Rate_std,[G] HRV Amp._std,"[G] HRV-LF Power (0,04-0,16 Hz)_std","[G] HRV-HF Power (0,16-0,4 Hz)_std",[G] HRV-LF / HRV-HF _std,dataset_no
count,240.000000,240.000000,240.000000,240.000000,215.000000,215.000000,240.000000,240.000000,240.000000,240.000000,...,240.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,240.000000
mean,5.800000,12.500000,2.500000,1.250000,0.022265,-0.000268,0.146998,0.103155,-0.039280,0.053288,...,0.118159,-0.464831,-0.009894,-0.039690,-0.052435,-0.113997,0.011002,-0.011607,0.028333,6.500000
std,3.256407,6.936653,1.120371,0.921614,0.532289,0.526608,0.484620,0.517560,0.610979,0.720164,...,0.634270,0.774970,0.159262,0.630399,0.433886,0.460495,0.330974,0.315527,0.279080,2.878284
min,1.000000,1.000000,1.000000,0.000000,-0.965430,-1.062060,-0.991572,-1.131875,-1.634850,-1.956051,...,-1.993275,-2.837108,-0.416714,-1.607112,-1.380596,-1.345447,-1.229824,-0.811645,-1.028511,2.000000
25%,3.000000,6.750000,1.750000,0.000000,-0.356502,-0.404131,-0.164753,-0.234543,-0.472698,-0.400381,...,-0.243956,-0.990476,-0.103839,-0.548637,-0.351403,-0.411498,-0.099169,-0.209938,-0.140128,4.000000
50%,5.500000,12.500000,2.500000,2.000000,-0.017492,-0.026506,0.054995,0.074161,0.011886,-0.043142,...,0.118373,-0.342372,0.011003,-0.030601,-0.082809,-0.201755,0.012904,-0.012518,-0.022897,6.500000
75%,9.000000,18.250000,3.250000,2.000000,0.280220,0.271447,0.331847,0.425401,0.365872,0.477375,...,0.552492,0.066674,0.100159,0.373400,0.224164,0.129382,0.184924,0.127171,0.178777,9.000000
max,11.000000,24.000000,4.000000,2.000000,2.043842,2.140323,1.764941,1.677728,1.721020,2.889587,...,1.832331,1.799299,0.390919,1.777237,1.155178,1.579213,1.005667,1.118433,0.793772,11.000000

In [43]:
import sqlalchemy as sa

In [ ]:
#公開ユーザー名はopen
import getpass
host="192.168.100.68" #サーバーのIPアドレス
user="open"
password=getpass.getpass("Enter your password:")
database = "jerespire" #データベース名
port = "3306"

In [ ]:
url = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8'
engine = sa.create_engine(url, echo=False)

In [47]:
url

'mysql+pymysql://open:open12345@DESKTOP-6FKT5DC:3306/jerespire?charset=utf8'

In [ ]:
# テーブル名を指定
df.to_sql(name="result1-2", con=engine, index=False)

240