In [19]:
#公開ユーザー名はopen　パスワードはopen12345
import getpass
# host="DESKTOP-6FKT5DC"
host="192.168.100.68"
user="open"
password=getpass.getpass("Enter your password:")
database = "test"
port = "3306"

In [20]:
print(f"{host}, {user}, {password}, {database}, {port}")

url = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8'
print(url)

192.168.100.68, open, open12345, test, 3306
mysql+pymysql://open:open12345@192.168.100.68:3306/test?charset=utf8

In [21]:
import pandas as pd
import sqlalchemy as sa

url = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8'
# url = f'mysql+pymysql://open:{getpass.getpass("Enter your password:")}@DESKTOP-6FKT5DC:3306/test?charset=utf8'
engine = sa.create_engine(url, echo=False)

query = "select * from sample" # テーブルを指定
df = pd.read_sql(sql = query, con = engine)

df.head()

   id tex
0   5   a
1   6   b
2   7   c